<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Music</title>
    <script src="https://kit.fontawesome.com/52f76aa58c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1> Music //</h1>
        <h4>Direct links</h4>
                <p>Album</p>
                <p>Video Organic Love</p>
                <p>video Street light</p>
        <section>
            <article>
                <h1>ALBUM <br>TWIST IN MY REALITY</h1>
                <img src="/img/emilia-play-list.png" alt="">
                <ol>
                    <li>► Organic Love | 02:40</li>
                    <li>► Twist In My Reality | 02:10</li>
                    <li>► Street Light | 03:28</li>
                    <li>► Love Don’t Live Here Anymore (Cover) | 03:49</li>
                </ol>
            </article>
            <article>
                <h1>VIDEO <br> ORGANIC LOVE</h1>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE <br>
                    Edited and Filmed by NICOLAS TROY <br>
                    Produced by NIKI HEART, <br>
                    Wix Films LTD.</p>
            </article>
            <article>
                <h1>VIDEO <br> STREET LIGHT</h1>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE <br>
                    Edited and Filmed by NICOLAS TROY <br>
                    Produced by NIKI HEART, <br>
                    Wix Films LTD.</p>
            </article>
        </section>
    </main>
</body>
</html>